.mapContainer {
    -fx-background-color: #1e3eff;
    /*-fx-padding: -100px, 0, 0, -100px;*/
    -fx-scale-shape: false;
}

.territory {
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.territory:hover {
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 50, 1.0, 0, 0);
}

.selected {
    -fx-effect: innershadow(gaussian, rgba(245, 115, 0, 0.54), 4, 1.0, 0, 0);
}

/* armies selector */
.animated-option-button-atk {
    -fx-background-color:rgb(203,104,96);
}

.animated-option-button-def {
    -fx-background-color:#43609C;
}

.animated-option-button-move {
    -fx-background-color:#44B449;
}

.animated-option-button-* {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-font-family: Trebuchet MS;
    -fx-pref-width:35px;
    -fx-background-radius:17.5px;
    -fx-pref-height:35px;
    -fx-text-fill:white shadow(gaussian, rgba(0,0,0,0.25), 4, 1.0, 0, 0);
    -fx-border-color:WHITE;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
}

.animated-option-button-selector {
    -fx-pref-width:35px !important;
    -fx-background-radius:35px !important;
    -fx-border-radius: 35px !important;
}

.Alberta {
    -fx-background-image: url("Cards/Alberta.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 137 212;
}

.WesternUnitedStates {
    -fx-background-image: url("Cards/WesternUnitedStates.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 137 212;
}