.mapContainer {
    -fx-background-color: aquamarine;
    /*-fx-padding: -100px, 0, 0, -100px;*/
    -fx-scale-shape: false;
}

.prova {
    -fx-background-color: red;
}

.territory {
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.selected {
    -fx-effect: innershadow(gaussian, rgba(245, 115, 0, 0.54), 4, 1.0, 0, 0);
}

.northAmerica {
    -fx-fill: #d0ad00;
}

.northAmerica:hover {
    -fx-fill: #b19000;
}

.southAmerica {
    -fx-fill: brown;
}

.southAmerica:hover {
    -fx-fill: #852a2a;
}

.europe {
    -fx-fill: cornflowerblue;
}

.europe:hover {
    -fx-fill: #627ed5;
}

.africa {
    -fx-fill: darkgoldenrod;
}

.africa:hover {
    -fx-fill: #a7770b;
}

.asia {
    -fx-fill: darkolivegreen;
}

.asia:hover {
    -fx-fill: #445b2d;
}

.australia {
    -fx-fill: blueviolet;
}

.australia:hover {
    -fx-fill: #631b9c;
}

/* armies selector */
.animated-option-button-atk {
    -fx-background-color:rgb(203,104,96);
}

.animated-option-button-def {
    -fx-background-color:#43609C;
}

.animated-option-button-move {
    -fx-background-color:#44B449;
}

.animated-option-button-* {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-font-family: Trebuchet MS;
    -fx-pref-width:35px;
    -fx-background-radius:17.5px;
    -fx-pref-height:35px;
    -fx-text-fill:white shadow(gaussian, rgba(0,0,0,0.25), 4, 1.0, 0, 0);
    -fx-border-color:WHITE;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
}

.animated-option-button-selector {
    -fx-pref-width:35px !important;
    -fx-background-radius:35px !important;
    -fx-border-radius: 35px !important;
}