.playersList {
    -fx-background-color: rgba(0,0,0,.05);
}

.playersList .column-header {
    -fx-pref-height: 25px;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: transparent;
}

.playersList .tree-table-row-cell {
    -fx-pref-height: 35px;
}

.playersList .tree-table-cell {
    -fx-text-alignment: center;
}

.playersList *.scroll-bar:vertical *.increment-button,
.playersList *.scroll-bar:vertical *.decrement-button,
.playersList *.scroll-bar:horizontal *.increment-button,
.playersList *.scroll-bar:horizontal *.decrement-button{
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.playersList *.scroll-bar:vertical *.increment-arrow,
.playersList *.scroll-bar:vertical *.decrement-arrow,
.playersList *.scroll-bar:horizontal *.increment-arrow,
.playersList *.scroll-bar:horizontal *.decrement-arrow{
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.mapContainer .name {
    -fx-font-family: Trebuchet MS;
    -fx-text-alignment: center center;
    -fx-text-fill: #292929;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

.selected {
    -fx-effect: innershadow(gaussian, rgba(245, 115, 0, 0.55), 5, 1.0, 0, 0);
}

.selected-atk {
    -fx-effect: innershadow(gaussian, rgba(245, 58, 0, 0.55), 5, 1.0, 0, 0);
}

.selected-def {
    -fx-effect: innershadow(gaussian, rgba(0, 61, 255, 0.55), 5, 1.0, 0, 0);
}

.card-selected {
    -fx-effect: dropshadow(gaussian, rgb(255, 142, 0), 15, 0.5, 0, 0);
}

/* Armies selector */
.animated-option-button-atk {
    -fx-background-color:rgb(203,104,96);
}

.animated-option-button-def {
    -fx-background-color:#43609C;
}

.animated-option-button-move {
    -fx-background-color:#44B449;
}

.animated-option-button* {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-font-family: Trebuchet MS;
    -fx-pref-width:35px;
    -fx-background-radius:17.5px;
    -fx-pref-height:35px;
    -fx-text-fill:white shadow(gaussian, rgba(0,0,0,0.20), 3, 1.0, 0, 0);
    -fx-border-color:WHITE;
    -fx-border-radius: 17.5px;
    -fx-border-width: 2px;
}

.animated-option-button-selector {
    -fx-pref-width:35px !important;
    -fx-background-radius:35px !important;
    -fx-border-radius: 35px !important;
}