.mapContainer {
    -fx-background-color: aquamarine;
    /*-fx-padding: -100px, 0, 0, -100px;*/
    -fx-scale-shape: false;
}

.prova {
    -fx-background-color: red;
}

.territory {
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.selected {
    -fx-effect: innershadow(gaussian, rgba(245, 115, 0, 0.54), 4, 1.0, 0, 0);
}

.northAmerica {
    -fx-fill: yellow;
}

.northAmerica:hover {
    -fx-fill: #d5d500;
}

.southAmerica {
    -fx-fill: brown;
}

.southAmerica:hover {
    -fx-fill: #852a2a;
}

.europe {
    -fx-fill: cornflowerblue;
}

.europe:hover {
    -fx-fill: #627ed5;
}

.africa {
    -fx-fill: darkgoldenrod;
}

.africa:hover {
    -fx-fill: #a7770b;
}

.asia {
    -fx-fill: darkolivegreen;
}

.asia:hover {
    -fx-fill: #445b2d;
}

.australia {
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.15), 2, 0.6, 0, 0);
    -fx-fill: blueviolet;
}

.australia:hover {
    -fx-fill: #631b9c;
}